.commitment {
  width: 1150px;
  margin: auto;
  padding-top: 168px;
  padding-bottom: 168px;
  
  .commitment__suplist {
    display: flex;
    align-items: center;
  }
  
  .commitment__img {
    width: 445px;
    height: 520px;
  }
  
  .commitment__list {
    width: 540px;
    margin-left: 125px;
  }
  
  .commitment__title {
    font-family: "Fraunces", "serif";
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #333d4b;
  }
  
  .commitment__text {
    font-family: "Barlow", "sans-serif";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #333d4b;
    mix-blend-mode: normal;
    opacity: 0.8;
  }
  
}

@media only screen and (max-width: 768px){
  
  .commitment{
    max-width: 689px;
    width: 100%;
    position: relative;
    left: 90px;
    padding-bottom: 0;
    margin-bottom: 330px;
  }
  
  .our__container{
    max-width: 689px;
    width: 100%;
    padding: 0 40px;
  }
  
  .commitment__list{
    position: relative;
    bottom: 50px;
    max-width: 339px;
    width: 100%;
    height: 453px;
    margin-left: 69px;
    margin-top: 0;
  }
  
  .commitment__title{
    max-width: 286px;
    margin-top: 0;
    margin-bottom: 25px;	
  }
  
  .commitment__text{
    max-width: 350px;
    width: 100%;
    height: 350px;
    margin: 0;
  }


  
}