.quality {
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 168px;
  padding: 100px 85px 180px;
  position: relative;
  display: flex;
  background-color: #2c343e;
  border-radius: 10px;
  
  .quality__list {
    width: 540px;
    margin-right: 150px;
  }
  
  .quality__title {
    font-family: "Fraunces", "serif";
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #fefcf7;
  }
  
  .quality__text {
    font-family: "Barlow", "sans-serif";
    font-size: 16px;
    line-height: 26px;
    color: #fefcf7;
    mix-blend-mode: normal;
    opacity: 0.8;
  }
  
  .quality__img {
    width: 445px;
    height: 474px;
    position: absolute;
    right: 85px;
    top: -60px;
    border-radius: 10px;
  }
  
}

@media only screen and (max-width: 768px){
  
  .quality{
    width: 100%;
    max-width: 689px;
    position: relative;
    left: 170px;
    margin-left: 50px;
    padding: 0px 90px 190px;
  }
  
  .quality__list{
    width: 100%;
    max-width: 689px;
    padding: 20px;
    position: relative;
    top: 150px;
    left: 25px;
    
  }
  
  .quality__title{
    max-width: 400px;
    width: 100%;
    font-size: 32px;
  }
  
  .quality__sublist{
    position: absolute;
    top: -147px;
    left: 595px;
  }
  
  .quality__img{
    display: none;
  }
  
  .quality__image{
    display: block;
    border-radius: 10px;
    position: absolute;
    top: -20px;
    right: 32px;
  }
  
}